<div class="card"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
   
        <form class="" [formGroup]="form" #frmRegiter="ngForm" (ngSubmit)="operar()" fxFlex="70%">
            <h1>Mi Empresa</h1>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="¿Con que nombre me conocen?" required formControlName="name"> 
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>¿Qué categoría se considera?</mat-label>
                <mat-select  placeholder="Categoría" [(value)]="categorySelected" formControlName="category">
                  <mat-option *ngFor="let c of storeCategories" [value]="c">{{c.name }}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Breve descripción" formControlName="description"></textarea>
            </mat-form-field>

            <div class="example-full-width">
                <mat-checkbox formControlName="delivery" color="warn">Puedo entregar a domicilio?</mat-checkbox>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Mi dirección" required formControlName="address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="¿Alguna referencía?" formControlName="infoAddress">
            </mat-form-field>
            
            
                <google-map height="300" width="100%" [zoom]="zoom" [center]="center" [options]="options" (mapClick)="mapClicked($event)">
                    <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label" [title]="marker.title"
                        [options]="marker.options" (mapClick)="openInfo(markerElem, marker.info)">
                </map-marker>
                <map-info-window>{{ infoContent }}</map-info-window>
                </google-map>
            
            
        </form>
    
    
    <div fxLayout fxFlex="30%" fxLayout.xs="column" class="infoAditional">
        <div  fxFlex="100%">
            <div fxLayout 
            fxLayoutGap="10px">
                <h1 fxFlex="80%">Mis datos de contacto</h1>
                <div fxFlex="20%" fxLayoutAlign="end center">
                    <button color="primary" type="button" mat-raised-button (click)="fileInput.click()">
                            <mat-icon>camera_alt</mat-icon>
                            <span>{{ uploadPercent | async }}</span>
                    </button>
                    <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file">
                </div>
            </div>
            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae leo et quam mollis pharetra sit amet molestie sapien. Maecenas fermentum rhoncus aliquam. Praesent malesuada mi nisi, a ultrices felis lobortis in. Vestibulum nec scelerisque augue
            </p>
           
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <mat-icon>emoji_people</mat-icon>
                        <i> Nombre contacto</i>
                    </mat-label>
                    <input matInput placeholder="Ricardo" required>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <mat-icon>contact_mail</mat-icon>
                        <i> Correo</i>
                    </mat-label>
                    <input matInput placeholder="mail@mail.com" required type="email">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <mat-icon>phone_iphone</mat-icon>
                        <i> Celular Principal</i>
                    </mat-label>
                    <input matInput placeholder="999000999"  type="number" maxlength="9">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <mat-icon>phone</mat-icon>
                        <i> Fijo</i>
                    </mat-label>
                    <input matInput placeholder="4444444"  type="number" maxlength="7">
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                        <mat-label>
                            <mat-icon>devices_other</mat-icon>
                            <i> Otro</i>
                        </mat-label>
                        <input matInput placeholder="Otro numero"  type="number" ng-maxlength="9">
                </mat-form-field>
    
                <button class="example-full-width" mat-raised-button color="primary" type="submit" [disabled]="frmRegiter.invalid">
                        <mat-icon>done</mat-icon>
                        <span>Aceptar</span>
                    </button>
        </div>
    </div>
</div>


