<div layout = "row" layout-xs = "column">
        <div flex class = " box">
        <form class="example-container" [formGroup]="form" #frmRegiter="ngForm" (ngSubmit)="operar()">
            <h1>Mi Empresa</h1>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="¿Con que nombre me conocen?" required formControlName="name"> 
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Breve descripción" formControlName="description"></textarea>
            </mat-form-field>

            <div class="example-full-width">
                <mat-checkbox formControlName="delivery" color="warn">Puedo entregar a domicilio?</mat-checkbox>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Mi dirección" required formControlName="address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="¿Alguna referencía?" formControlName="infoAddress">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>¿Qué categoría se considera?</mat-label>
                <input type="text" placeholder="Categoría" matInput [matAutocomplete]="autoCategory" [formControl]="myControlCategory" formControlName="category">
                <mat-autocomplete #autoCategory="matAutocomplete" [displayWith]="displayFnCategory" (optionSelected)="handleSelectCategory($event)">
                    <mat-option *ngFor="let c of filteredOptionsCategories | async" [value]="c">
                    {{ c.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <h2>Mis datos de contacto</h2>
            <mat-form-field class="example-full-width">
                <mat-label>
                    <mat-icon>emoji_people</mat-icon>
                    <i> Nombre contacto</i>
                </mat-label>
                <input matInput placeholder="Ricardo" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>
                    <mat-icon>contact_mail</mat-icon>
                    <i> Correo</i>
                </mat-label>
                <input matInput placeholder="mail@mail.com" required type="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>
                    <mat-icon>phone_iphone</mat-icon>
                    <i> Celular Principal</i>
                </mat-label>
                <input matInput placeholder="999000999"  type="number" maxlength="9">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>
                    <mat-icon>phone</mat-icon>
                    <i> Fijo</i>
                </mat-label>
                <input matInput placeholder="4444444"  type="number" maxlength="7">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                    <mat-label>
                        <mat-icon>devices_other</mat-icon>
                        <i> Otro</i>
                    </mat-label>
                    <input matInput placeholder="Otro numero"  type="number" ng-maxlength="9">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="frmRegiter.invalid">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                </button>
        </form>

    </div>
    <div flex = "20" class = " box">
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="mapClicked($event)"
>
<map-marker
#markerElem
*ngFor="let marker of markers"
[position]="marker.position"
[label]="marker.label"
[title]="marker.title"
[options]="marker.options"
(mapClick)="openInfo(markerElem, marker.info)"
>
</map-marker>

<map-info-window>{{ infoContent }}</map-info-window>
</google-map>
</div>