<form class="example-container">
    <h1>Mi Empresa</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="¿Con que nombre me conocen?" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Breve descripción"></textarea>
    </mat-form-field>

    <div class="example-full-width">
        <mat-slide-toggle class="example-margin" color="warn">
            ¿Puedo entregar a domincilio?
        </mat-slide-toggle>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Mi dirección" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="¿Alguna referencía?">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>¿Qué categoría se considera?</mat-label>
        <mat-select>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option2</mat-option>
        </mat-select>
    </mat-form-field>

    <h2>Mis datos de contacto</h2>
    <mat-form-field class="example-full-width">
        <mat-label>
            <mat-icon>emoji_people</mat-icon>
            <i> Nombre contacto</i>
        </mat-label>
        <input matInput placeholder="Ricardo" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>
            <mat-icon>contact_mail</mat-icon>
            <i> Correo</i>
        </mat-label>
        <input matInput placeholder="mail@mail.com" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>
            <mat-icon>phone_iphone</mat-icon>
            <i> Celular Principal</i>
        </mat-label>
        <input matInput placeholder="999000999" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>
            <mat-icon>phone</mat-icon>
            <i> Fijo</i>
        </mat-label>
        <input matInput placeholder="4444444" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
            <mat-label>
                <mat-icon>devices_other</mat-icon>
                <i> Otro</i>
            </mat-label>
            <input matInput placeholder="Otro numero" required>
        </mat-form-field>

</form>